*{
    margin: 0;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
#header{
    width:100%;
    height:100vh;
    background-image: url();
    background-size: 100%;
    background-position: left;
    background-color: rgb(182, 146, 95);
    background-image: -moz-element();
}
.container{
    padding: 10px 10%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.logo{
    width:140px;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a {
    color: rgb(110, 78, 13);
    text-decoration: none;
    font-size: 15px;
    position: relative;

}
nav ul li a::after{
    content:'';
    width:0;
    height:3px;
    background: rgb(90, 62, 10);
    position: absolute;
    left: 0;
    bottom:-5px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
 margin-top: 20%;
 font-size: 30px;
 color: rgb(130, 178, 187);
}
.header-text h1{
    font-size: 20px;
    margin-top: 10px;
    color: rgb(236, 215, 154);
}
.header-text a{
    font-size: 20px;
    color: rgb(220, 194, 161);
    position: absolute;
    
}
.header-text a::after{
    content: "";
    margin-bottom: 5px;
    position: absolute;
    bottom: -5px;
    transition:0.5s;
}
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 192, 127);
    color: rgb(211, 247, 247);
    align-items: center;
    padding: 20px;

}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 320px;
    height: 240px;
    margin: 13px;


}
.gallery li{
    padding-left:10px;
    color: black;
    margin-top: 5px;
}
